#mk-to-top-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 99999;
  margin: 0;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: var(--mk-btn-bg-color, #000);
  width: var(--mk-btn-width, 40px);
  height: var(--mk-btn-height, 40px);
  outline: none;
  appearance: none; 
  box-shadow: none;
}

#mk-to-top-btn::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: calc(var(--mk-btn-width, 50px) / 4) solid transparent;
  border-right: calc(var(--mk-btn-width, 50px) / 4) solid transparent;
  border-bottom: calc(var(--mk-btn-height, 50px) / 3) solid
    var(--mk-btn-icon-color, #fff);
  transition: padding 0.3s ease-in;
}

#mk-to-top-btn.mk-visible {
  opacity: 1;
  pointer-events: auto;
}
